<template name="guidelines">
<div class="container container-full-height container-light container-guidelines">

{{#markdown}}



#Timelined Editor Guidelines

##Introduction

Timelined is an application designed to answer the who, what and when for audio and video. *Who said it? What did they say? When did they say it?* Our editors break audio or video into smaller, summarized pieces called *highlights*. A collection of highlights makes up the timeline for an episode.

##Your mission

As an editor, you'll create highlights based on the interesting discussions, stories, product recommendations, events, interviews and news you find in an episode. Our users want to quickly skim these notes and links to find what interests them. Think of the highlights you write as [Cliffs Notes](http://en.wikipedia.org/wiki/CliffsNotes) for a particular piece of audio or video.

Highlights will depend heavily on the content you're working with. For a technical podcast, you might be highlighting a discussion that consists of software references, hardware reviews, or general tech news topics. For a video interview, you may focus on grabbing the host's questions and the guest's response. In a health discsusion, you could choose to highlight major topics and concentrate on reference links. As the editor, it's up to you to decide how to best summarize the content.

Always remember:

* Use simple language.
* Be informative and objective.
* This will be tweeted.

##Terminology

**Shows**

Shows are podcasts and videos. They're pulled from sites like iTunes or Youtube via data feeds. Our software crawls these sites looking for new episodes of the show. These new instances are saved in our database and prepared for editors.

Examples:

* [Podcast - The Joe Rogan Experience](http://joerogan.net/podcasts/)
* [Video - Foundation](http://foundation.bz)


**Episodes**

Episodes are instances of a show. As explained above, we look for new episodes and get them ready for editors. New episodes make up the *queue*, which is where you'll find things to work on.

Example:

*[Daring Fireball Episode 79](http://www.muleradio.net/thetalkshow/79/)


**Highlights**

Highlights, which you'll be creating, are short summaries answering who, what and when for an episode.

<br>
<img src="/images/guidelines/highlight-example.png" />
<br>

A highlight can be one of three types: person, link or sponsor. All highlights have a timestamp.

*Person* - followed by either a note or a quote.

* *Note* - a summary of what was said and who said it.
    * Tim explains his method for learning foreign languages.
    * John remembers the time Steve Jobs yelled at him for criticizing the iPhone.

* *Quote* - a direct quote from a show host or guest.
    * Matt "I am convinced Ebay will acquire Square before the end of year."
    * Adam "I think the best health advice I can give a person is to get more sleep."

*Link* - a link is simply a link to and description of whatever is being discussed. Links will frequently be to products, audio or video, wikipedia pages and news items.

* LINK [Aeropress at Amazon](http://www.amazon.com/Aeropress-Coffee-and-Espresso-Maker/dp/B0047BIWSK/ref=sr_1_1?ie=UTF8&qid=1398910952&sr=8-1&keywords=aeropress)
* LINK [Elon Musk's Wikipedia page](http://en.wikipedia.org/wiki/Elon_Musk)

*Sponsor* - a sponsor is when the host acknowledges the episode sponsor, typically via a brief advertisement or discussion of the sponsor's product.

* Squarespace sponsored this week's episode.
* Hover is a sponsor this week, use code HOVER10 for 10% off every domain purchase.


##Getting Started

After you've created an account and completed the Editor Agreement, you can start a trial timeline. A trial is a practice run designed to help you learn the workflow and get feedback on your highlights. We'll provide instructions on how to get started with your trial, but it will mimic the process described in this document.


**The Queue**

The Queue is a list of unedited episodes. Click the [Queue link](http://timelined.com/queue) and you'll see the pending episode list, which will look like this:

<br>
<img src="/images/guidelines/queue.png" width="900" height="680" />
<br>

You'll see the show names and episode titles. Click the Claim Episode button for any episode and you'll be the only editor who can work on it. Click the Unclaim Episode button if you cannot complete it. Once you've claimed an episode, click the title to begin working. *Note*: Once you claim an episode you have 24 hours to complete it. If you don't finish in time, your work will be lost and the episode will be returned to the queue.

**The Editor**

The editor is where you'll spend most of your time. When you begin a new episode, you'll see this:

<br>
<img src="/images/guidelines/editor.png" width="900" height="680" />
<br>

A few things to notice:

* The page is split into two panes. The darker, left pane will always contain the audio or video you're timelining. The right pane is where you create highlights.
* Notice the show title (Back to Work) in the top left and just beneath it the episode title (Back to Work 001).
* There are buttons for adding a Host, Guest or Sponsor.
* The original show notes are beneath the player. These notes are provided by the content producer and might help you identify key topics, sponsors, hosts or guests. Show notes are unfortunately not always provided.

*Draft, Review and Publish*

The editor has three modes: Draft, Review and Publish.

Draft mode is where you'll spend most of your time. Here you'll create timestamped highlights. The goal is to quickly create short and informative highlights.

Review mode is just as it sounds. You've finished highlighting and can use this stage to proof the work: correct spelling, rephrase highlights, add links and organize chapters (more on this later).

Publish mode is the last step of the process. Write a short summary for the episode and submit your work for review.

##Workflow

**Pre-highlighting**

Before you start in Draft mode, it's best to review the show notes if they're available. Show notes can tell you who is on an episode and what it's about - this will save time. If the show notes aren't available or offer incomplete information, listen to the first minute or two of an episode to get a feel for it.

Initially, you're looking for few key pieces of info - the host(s), guest(s) and a sponsor. Before you can highlight, the people participating in the show must be identified. When you determine this information, click the button to add them as a host or guest.

* A Host is the regular show host. There can be multiple show hosts, but rarely more than 2. This information should be easy to figure out via the show notes, first minute of play or previous episodes.
* A Guest is someone appearing on that particular episode (other than the host). There can be multiple guests. This can be determined from the show notes, episode title or first minute of play.
* A Sponsor is the company sponsoring the episode, usually referenced by the show host early in the episode.

When you click the button to add a host or guest, start typing their full name. If they're in our database, a type-ahead box will appear from which you can select their name. If they're not in our database, enter their first and last name (pay attention to spelling) and hit return to save them. The process for adding a company is the same, but a company name can be any number of words.

**Draft Mode**

Once you have the hosts and guests, it's time to start highlighting in Draft mode. In the right pane, you'll see an empty highlight field:

<br>
<img src="/images/guidelines/highlight-empty.png" width="525" height="600" />
<br>

As you're listening to the content and prepare to begin a highlight, answer this question: is this about a person, a link or a company? Let's look at each type and see some examples.

*Person highlights*

Most highlights will lead with a person,followed by a note or quote. To begin a person highlight, start typing their name. Remember the hosts and guests you entered earloer are the people you can choose from. Once you see their name in the type-ahead box, select it. Next, decide if the highlight is a note or quote. A note is simply a summary of what was said. A quote is a direct quotation and begins with a quotation mark (").

* Person Note: Dan discusses a Pando Daily interview with Elon Musk where he explains the challenges of running two companies at once.

* Person Note: Matt says he has been eating a lot of Think Thin bars lately. The chunky peanut butter flavor is his favorite.

* Person Note: Adam listened to the Tesla quarterly conference call and relays his impressions of their earnings surprise.

* Person Note: Tim asks Jason about the new Angellist syndicate model.

* Person Quote: Kevin: "Throwing that racoon down the stairs was the biggest mistake of my life."

* Person Quote: Cinjon: "I think the startup scene in Berlin rivals that of San Francisco."

<br>
<img src="/images/guidelines/highlight-note.png" />

<img src="/images/guidelines/highlight-quote.png" />
<br>

*Link highlights*

Links are a type of highlight focused on the *things* being discussed. Begin a link by typing the '#' symbol in the highlight field, followed by a short summary of what to link. You'll have the opportunity to find the link URLs in Review mode, so think of the note as a reminder to yourself and move on to the next highlight.

* Example link summaries: "trailer for James Bond 7", "wikipedia Bill Gates", "amazon for kettlebells", "homepage for Panic Software"

Again the link summary in Draft mode is a quick note to yourself. In Review mode, you'll refine the link. Here are some example of things you might want to create a link for and what type of link it should be:

* Example: movie trailers, music videos, interviews
    * Link: see if you can find and link to it on Youtube or Vimeo.

* Example: books, vitamins, computer accessories, hiking boots
    * Link: Always try to link to a product on Amazon, if that fails link to it directly

* Example: WhatsApp, NetJets, a new startup or a company providing a product
    * Link: Link to the company's site

* Example: Kevin Rose, Tim Tebow, Dave Chapelle, Genghis Khan
    * Link: Link to their blog, twitter feed, Github account or whatever is their most prominent web presence. For a public or historical figure, try Wikipedia.

* Example: 2014 mid-term elections, Facebook buys WhatsApp, Seattle wins the Superbowl
    * Link: Google the topic and see if you can find a recent article from a reputable source

* Example: Boyle's law, the Cuban missile crisis, the Phoenix Lights
    * Link: Try wikipedia first and any credible background information second

* Example: The BS Report, The Talk Show, Charlie Rose
    * Link: Link to the show on TImelined if possible or directly to the show if not.


<br>
<img src="/images/guidelines/highlight-link.png" />
<br>

*Sponsors*

A sponsor is a special highlight designating episode sponsors or ad reads. Rarely will you do more than a few of these per episode and some episodes won't have any sponsors. You begin a sponsor highlight by typing the company name which hopefully was added before the episode started. If you didn't add it or it's a new sponsor, take a moment to add the sponsor by clicking "+ Sponsor" in the left pane and entering the company name. In the highlight field, after you've entered the company name, type a short note acknowleding the sponsorship and note any special promo codes or comments about the sponsor.

* Example: Hover sponsored this week's episode. Use promo code HOVER10 for 10% off your next purchase.

* Example: Squarespace sponsored this episode and Dan uses it for his personal blog.

* Example: Helpspot sponsored this episode of Back to Work and recently launched a new product called BeSnappy.

<br>
<img src="/images/guidelines/highlight-sponsor.png" />
<br>

*Timestamps*

One of the most important components of each highlight and the Timelined app is the timestamp. Notice the timestamp to the left of each highlight entry. Our software takes a guess at the highlight time by jumping back 5 seconds from when you start typing. You should always keep a mental note of the best start time for the highlight you are creating. You can edit the timestamp by clicking on it, updating the time and hitting enter. A timestamp should mark the beginning of what you are referencing or summarizing in the highlight, so a user clicking it will jump right to that part of the discussion.

When you're done with an episode and your highlights, you should see something similar to this:


<br>
<img src="/images/guidelines/draft-complete.png" width="900" height="680" />
<br>

*Hotkeys*

As you become more proficient at timelining, you'll want to incorporate hotkeys into your workflow.

* Play/Pause toggle - SHIFT + up or down arrow
* Skip back 5 seconds - SHIFT + left arrow
* Skip forward 5 seconds - SHIFT + right arrow


**Review Mode**

Click the Review tab when you are finished adding hihglights to begin proofing your work. Notice the number next to the Review tab? That's a count of items on your to-do list for this page.

*Links*

Links are one of two big items in the Review pane. Remember those link notes you left to yourself when drafting highlights?  It's time to fill them out. Notice that each Link has the note you left yourself and "/Enter Url". Use your note to recall what you planned on linking. In another browser tab, google or grab the appropriate URL. Paste the URL (http://some-link-here.com) into the "Enter URL" field. In the note field, type the note you want displayed over the link. This may or may not be different than the note you left yourself. For example, if your note read "Amazon link to Moneyball by Micahel Lewis", and you grab the Amazon URL, you don't need to change it. If you left a note designed to jog your memory like "Google Moneyball", discover it's a book and link to the book, you should change the note. Otherwise "Google Moneyball" would appear as the link for users.

Example link titles:
* "Bitcoin overview from Wikipedia"
* "The 4-hour Body by Tim Ferriss on Amazon"
* "Kevin Rose's Twitter Feed"
* "The Lifehacker Blog"
* "Businessweek interview with Elon Musk"
* "Bourne Identity trailer"
* "WSJ on Tesla's earnings"
* "Side effects of steroids"
* "Telsa stock price on Yahoo finance"


<br>
<img src="/images/guidelines/link-uncompleted.png"  />

<img src="/images/guidelines/link-completed.png" />
<br>


*Chapters*

Chapters, as they sound, are chapter markers you'll create for each episode. Think of chapters as the natural segments of the discussion. There is always an Introduction, typically the show open. There is usually a Conclusion or show wrap and sometimes an Aftershow. In the middle, there are major discussion topics. Use chapters to mark those major discussion points. To add a chapter, hover to the left of a highlight:

<br>
<img src="/images/guidelines/chapter-insert.png" width="447" height="600" />

<img src="/images/guidelines/chapter-inserted.png" width="517" height="600" />
<br>


*Inserting Chapters*

Put chapters into places that logically segment the conversation. It's easy when a long discussion focuses on a single topic, more difficult when the conversation flows naturally and covers lots of ground. Use your judgement and decide what's worth a chapter. Your basic goal should be marking the beginning, middle and end of an episode. Your advanced goal is marking major topic changes and determining episode flow. Err on the side of less chapters, too many will clutter an episode.

*Titling Chapters*

Click on a chapter title to change it. What goes into a chapter title? Aim for a few words that give our users a hint of context as to what's covered in the chapter highlights. Look at the group of highlights and summarize the major themes. Titles can be tricky, you'll get better with practice. Always remember, our goal is to save people time. Short, memorable titles.

Title examples:
* Merlin on Email and Inbox Zero
* Workplace and Culture
* Innovation in Big Companies
* Performance Driving Tricks
* The Best Pizza Ever
* China's Booming IPOs
* Apple's Balance Sheet
* Alfred, Draft and GTD Tools


<br>
<img src="/images/guidelines/chapter-titles.png" width="450" height="768" />
<br>

*Spelling, Grammar and Tweaks*

Spelling and grammar are essential to this process. At the moment we expect editors to manually spell check highlights during review. Reread each highlight for grammar mistakes and most importantly, consider revising and simplifying sentences. Remember our goal is to save users time. They should use your highlights to decide what's worth listening to, watching or sharing with friends.

When you're done adding chapters, completing links, correcting spelling and revising your highlights, it'll look like this:

<br>
<img src="/images/guidelines/review-complete.png" width="450" height="768" />
<br>

Notice there are no to-do items left next to Review.

**Publish Mode**

For the final step in the editing process, click the Publish tab. There are only two things left to do.

<br>
<img src="/images/guidelines/publish.png" width="450" height="768" />
<br>

Write a short summary of the episode, for display on the episode page. As always, it should be concise and informative. Think of this sentence or two as a high-level overview users read to get an idea of what was discussed. Remember, it will be tweeted.

Summary examples:
* Joe Rogan interviews the world's greatest PT, Kelly Starrett. They talk mobility, crossfit and optimal health.
* Dan and Merlin share their secrets for remote work productivity and the Inbox Zero mindset.
* Kevin Rose talks to Beats co-founder and rap mogul Dr. Dre about his passion for audio and his new life as an Apple executive.
* The Smoking Tire team discusses Audi's new S8, their week on the twisty backroads of Italy with a tiny Fiat and why the Chevy Volt is the best battery powered car on the market.
* Pedram and Sara talk migraine headaches. How to detect them, how to prevent them and how to deal your next one.
* Jason Calacanis talks about his pending move to San Francisco and gives an update on his latest project, Inside.com.


<br>
<img src="/images/guidelines/publish-summarized.png" width="450" height="768" />
<br>


Lastly you'll see the hosts, guest and sponsors. If the Twitter handle is set, there's nothing left to do. If it's not set, take a stab at figuring this out. Most of the time, it will be easy. If they don't have a Twitter handle or you cannot tell what it is, leave this blank.

<br>
<img src="/images/guidelines/publish-submit.png" width="450" height="768" />
<br>

You're finished! Click the title at the bottom of the right pane to submit the episode for review. We'll look over your submission and be in touch with any change requests. If we accept your newly timelined episode, your hours will be logged and added to your next editor payment.



{{/markdown}}
</div>
</template>
