<template name="infringement-policy">
  <div class="container container-full-height container-dark container-infringement-policy">
{{#markdown}}
#INFRINGEMENT POLICY

Timelined respects the rights of others and we expect users of our websites and services to do the same.  The Terms of Service require our users to follow prohibit the infringement of the copyrights of others, and it is also our policy that we may remove, suspend, terminate access, or take other appropriate action against repeat offenders.  We may also remove content that in our sole discretion appears to infringe the intellectual property rights of others. If we remove or disable a user’s access to our websites or services to comply with the Digital Millennium Copyright Act (DMCA), we will make a good-faith attempt to contact the owner, author, or administrator of each affected account so that they may make a counter notification pursuant to sections 512(g)(2) and (3) of that Act.


*How do I file an Infringement Notification?*


If you have evidence, know, or have a good faith belief that content residing on or accessible through our websites or Internet services infringes a copyright for which you own or are a designated agent, please send a notice of infringement by email or regular mail with the information that sets forth the items specified below.  Please note that we may post your notification, with personally identifiable information redacted, to a clearinghouse such as http://www.chillingeffects.org.


 To expedite our ability to process your request, please use the following format:


* Identify the copyrighted work claimed to have been infringed. If multiple copyrighted works are covered by a single notification, provide a representative list of such works.
* Identify the material that is claimed to be infringing or to be the subject of infringing activity. Include information reasonably sufficient to permit Timelined to locate the material. Please provide a URL and screenshots for each item. Include the specific asset(s) or page(s) that you claim to be infringing. Say entire work ONLY if all assets / pages in a collection/document are infringing.
* Include details of your claim to the material, or your relationship to the material’s copyright holder.
* Provide your full name, address, and telephone number should we need to clarify your claim.
* Provide a working email address where we can contact you to confirm your claim.
* If true, include the following statement: “I have a good faith belief that use of the copyrighted materials described above as the allegedly infringing web pages is not authorized by the copyright owner, its agent, or the law.”
* If true, include the following statement: “I swear, under penalty of perjury, that the information in the notification is accurate and that I am the copyright owner or am authorized to act on behalf of the copyright owner to make this complaint.”
* Sign the document, physically or electronically.
* Send the document to Timelined’s designated Copyright Agent to receive notifications of claimed infringement. You may use either the address or the email address [support@timelined.com](mailto:support@timelined.com)

We will review your claim and determine its merit. If, after our review, we believe your claim is sufficient to remove the information from public view, we will do so immediately and provide you with confirmation. If your claim is insufficient to act upon, or, in our consideration the material has been posted with a good faith effort and compliant with the DMCA, we will notify you and provide you opportunity to clarify or seek additional remedy. Please note that you may be liable for damages, including costs and attorney’s fees, under the DMCA if you knowingly materially misrepresent that material on the Site infringes upon your copyright.
For clarity, only DMCA notices as described above should go to the Copyright Agent. You acknowledge that if you fail to comply with all of the requirements of this policy, your DMCA notice may not be valid.

ANY NOTICE THAT DOES NOT COMPLY WITH THE REQUIREMENTS OF TITLE 17, UNITED STATES CODE, SECTION 512(c)(3) WILL NOT RECEIVE A RESPONSE. NOTHING IN THIS SECTION IS INTENDED TO EXPAND OR SUPPLEMENT THE LEGAL RIGHTS, PROCEDURES AND REMEDIES AUTHORIZED AND GRANTED UNDER THE DMCA AND WE DO NOT REPRESENT ANY RELATED UNDERTAKING BY TIMELINED.COM NOT OTHERWISE EXPRESSLY REQUIRED BY APPLICABLE LAW.

*How do I file a DMCA counter notice?*

The process for counter-notifications is governed by Section 512(g) of the Digital Millennium Copyright Act: http://www.copyright.gov/legislation/dmca.pdf.  If you believe that your material has been removed improperly, you may file a counter notification.  To file an official counter notification with us, you must provide a written communication that sets forth the items specified below.  Please note that under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material or activity was removed or disabled by mistake or misidentification may be subject to liability. Please also be advised that we enforce a policy that provides for the termination in appropriate circumstances of users who are repeat infringers. Accordingly, if you are not sure whether certain material infringes the copyrights of others, we suggest that you first contact an attorney.


*Elements of Counter-Notification.*

A sample counter notification may be found at: http://www.chillingeffects.org/dmca/counter512.pdf. To expedite our ability to process your counter notification, please use the following format:

* Identify the specific URLs of material that Timelined has removed or to which Timelined has disabled access.
* Provide your full name, address, telephone number, and email address, and, if applicable, the username of your Timelined account.
* Provide a statement that you consent to the jurisdiction of Federal District Court for the judicial district in which your address is located (or any judicial district in which Timelined may be found if your address is outside of the United States), and that you will accept service of process from the person who provided notification under subsection (c)(1)(C) or an agent of such person.
* Include the following statement: “I swear, under penalty of perjury, that I have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled.”
* Sign the notice.
* Send the written communication to the following address: [support@timelined.com](mailto:support@timelined.com)


{{/markdown}}
  </div>
</template>
