<template name="privacy-policy">
  <div class="container container-full-height container-dark container-privacy-policy">
{{#markdown}}
#PRIVACY POLICY


Privacy is important to us.  Making sure that you know how we collect, use, share, and secure information on this website is also important to us.


*Information We Collect.*


We collect both personal and non-personal information from you.  When we use the phrase “personal information” we mean information that is associated with your name, such as your email address.


*How Information Is Collected.*


By Asking. On our site, we may ask you to give us information.  If you choose to register for an account, we will ask for your name and email address.


Cookies.  Each time you visit our website, our web server automatically recognizes your domain name and what type of browser you are using, by using “cookies,” which are small text files on your computer that identify you as a unique user.  These help us measure your activity and personalize and improve your experience on our site.  If you don’t want us to use cookies, you can set your browser to delete them, or you can manually delete the cookies.  If you do this, you might have trouble accessing and using some of our web site pages.


Web Beacons.  We also use web beacons, which let us count and recognize users who visit our website.  This lets us see if you respond to emails that we sent to you by clicking on a link in the email, so we can know whether the emails we send are effective.  If you don’t want web beacons in the email, you can turn off HTML display of the email.


IP Address. When you visit our site, we also collect and save the Internet Protocol address of the device you are using, like whether you are using a personal computer or a mobile device.


*What We Do With Your Information.*


When you provide us with your name and email address, we may add your information to our mailing list, and we may send you emails announcing product information or updates to our Web site.  If you don’t want to get anymore emails, send an email to [support@timelined.com](mailto:support@timelined.com) with your email address.  Please note that if you send us an email to opt-out of receiving our promotional emails, we may send you an email confirming your opt-out.


*How We Share Your Information.*


We may share your information in the following ways.


Sharing Your Information With Service Providers. We may share your information with companies or individuals that provide us with services.  These services may include, among other things, helping us research and analyze survey results on our web page.


Law Enforcement and Legal Process.  We may report to law enforcement agencies any activities that we think may be unlawful.  For example, we may provide information to law enforcement agencies if we believe that you have violated our polices, or the release of your information may protect our rights, property, or safety, or the rights, property, or safety another person.


Sharing Your Information as Permitted By Law.  We may share your information with others as required by, or permitted by, law.  This may include sharing your information with government entities, or third parties in response to subpoenas, court orders, or other legal process, or as we believe is necessary to exercise our legal rights, to defend against legal claims that have been brought against us, or to defend against possible legal claims that we determine in our sole discretion might be brought against us.


Business Transition.  If we, or any portion of our assets, are acquired, we may share all types of information with the acquiring company.


Interest-Based Advertising.  We may participate in interest-based advertising (behavioral advertising).  This means that a third party may use technology, such as a cookie on your browser or a web beacon, to identify you on our website so that they can provide advertising about products and services tailored to your interest.  You may see advertising on our website tailored to how you browse or shop, or you may see advertising for our products on other websites based on your browsing behavior across different websites.


Other Third Parties.  We may share your information with other third parties as we deem appropriate.


*How We Secure Your Information.*


We take reasonable and appropriate measures to help keep your information secure, and to help prevent it from becoming disclosed to people who we didn’t mention in this policy.  Even though we follow reasonable procedures to try to protect the information in our possession, no security system is perfect and we can’t promise, and you shouldn’t expect, that your information will be secure in all circumstances.


*How We Communicate With You.*


If you have any questions about our privacy policy, you can contact us by emailing us at [support@timelined.com](mailto:support@timelined.com).

If we need, or are required, to contact you concerning any event that involves your information, we may do so by email, telephone, or mail.


*Other Information.*

Kids

We do not seek or knowingly collect any personal information from children (minors younger than 13).  If you are a parent and believe we may have inadvertently collected such information from your child, please notify us immediately by sending an email to  [support@timelined.com](mailto:support@timelined.com).


Do Not Track


We may participate in interest-based, or behavioral-based, advertising.  This means that a third party may place a cookie on your browser, or use a web beacon, to collect information about your use of our website so that they can provide advertising about products and services tailored to your interest.  That advertising may appear either on our website, or on other websites.  Some web browsers and devices permit you to broadcast a preference that you not be “tracked” online.  At this time, we do not modify your experience based upon whether such a signal is broadcast.


Your California Privacy Rights.


If you are a California resident, California Civil Code Section 1798.83 permits you to request a notice regarding our practices surrounding the disclosure of your personal information to third parties for the third parties’ direct marketing purposes.  If you are a California resident and would like a copy of this notice, please submit a written request to the following address:


Timelined LLC,
455 NE 5th Ave
Suite D169 ,
Delray Beach FL 33483



Changes to the Privacy Policy


We reserve the right to modify or change this policy at any time by posting the revised privacy policy on our website.  Material changes will only affect the information we collect after the effective date of the change to our privacy policy unless we clearly express otherwise.


*Effective Date:  04/15/2014*


{{/markdown}}
  </div>
</template>
