<template name="sample-admin-page">
  <div class="container container-full-height container-light">
{{#markdown}}
#PRIVACY POLICY


Privacy is important to us.  Making sure that you know how we collect, use, share, and secure information on this website is also important to us.


*Information We Collect.*


We collect both personal and non-personal information from you.  When we use the phrase “personal information” we mean information that is associated with your name, such as your email address.


*How Information Is Collected.*



{{/markdown}}
  </div>
</template>
