<template name="home">
  <div class="container container-full-height">
    <div id="home-top-intro">
      <h1 class="home-title">Welcome to Timelined, the best way to discover and share content.</h1>
      <div id="home-sub-title">
        <div class="home-top-message">
          <p class="home-sub-title-text">There is a world of media full of insights you care about.</p>
          <p class="home-sub-title-text">We do the hard work watching them all so you don't have to.</p>
        </div>
        <div id="home-top-search">
          {{> home_search}}
        </div>
      </div>
    </div>
    <div class="home-display">
      <div class="row header">
        <div class="col-md-2">
          {{> home_header_box header_recent}}
        </div>
        <div class="col-md-2">
          {{> home_header_box header_popular}}
        </div>
        {{#if has_subscriptions}}
        <div class="col-md-2">
          {{> home_header_box header_you}}
        </div>
        {{/if}}
      </div>
      {{#each episodes}}
      {{> home_episode}}
      {{/each}}
    </div>
  </div>
</template>

<template name="home_episode">
  <div class="home-episode">
    <div class="col-md-1 episode-buttons">
      <div class="fa-stack fa-lg show_button play_episode">
        <i class="fa fa-circle-thin fa-inverse fa-stack-2x"></i>
        <i class="fa fa-play fa-inverse fa-stack-1x"></i>
      </div>
    </div>
    <div class="col-md-10 episode-info">
      <div class="episode-titles">
        <span class="show-title ellipsis">
          {{show_title}}
        </span>
        <span class="episode-title ellipsis">
          {{episode_title}}
        </span>
      </div>
      <div class="episode-summary">
        <span class="vertical-center-aligned">
          {{summary}}
        </span>
      </div>
      <div class="episode-people">
        {{#each people}}
        <span class="home-person">
          {{capitalize first_name}} {{capitalize last_name}}
        </span>
        {{/each}}
        <span class="date-time">
          {{format_seconds_to_clock length_in_seconds}}
        </span>
        <span class="date-time">
          {{prettify_date published_date}}
        </span>
      </div>
    </div>
    <div class="col-md-1 episode-buttons">
      <div class="fa-stack fa-lg show_button">
        <i class="{{show_chapters_class}}"></i>
        <div class="fa fa-stack-1x">{{num_chapters}}</div>
      </div>
    </div>
  </div>
</template>

<template name="home_header_box">
  <div class="home-stage home-stage-{{key}} row">
    {{#if is_home_display key}}
    {{> arrow_box box_info}}
    {{else}}
    {{> button_box box_info}}
    {{/if}}
  </div>
</template>

<template name="home_search">
  <span class="search_entity_input_wrap">
    <input id="home_search_typeahead" class="form-control search_entity_input" type="text" placeholder="Search shows or people">
  </span>
</template>
