<template name="on_boarding">
  <div class="container">
    {{#unless signed_legal}}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 welcome_message">
        {{> on_boarding_welcome}}
      </div>
    </div>
    {{/unless}}
    <div class="row">
        {{#if currentUser}}
          {{#if signed_legal}}
            {{> queue_helper trial_data}}
          {{else}}
            {{> legal_agreement}}
          {{/if}}
        {{else}}
          {{> entrySignIn}}
        {{/if}}
    </div>
  </div>
</template>

<template name="on_boarding_welcome">
  <h3>So I hear you want to Timeline?</h3>
  <p>Timeline me like one of your french girls.</p>
</template>

<template name="legal_agreement">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row" id="terms">
      <p class="padded_text">
        Legal Goes here
      </p>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary btn-block" id="set_agree_to_terms">By clicking this big blue button, you agree to the above terms.</button>
    </div>
  </div>
</template>
