<template name="viewer">
  <div class="viewer-container">
    <div class="media-pane">
      <div class="row">
        <p class="show_title">{{show_title}}</p>
      </div>
      <div class="row">
        <p class="episode_title"><b>{{episode_title}}</b></p>
      </div>
      <div class="row episode_entities">
        {{#each hosts}}
        <div class="entity-wrap">
          {{> small_person_display}}
        </div>
        {{/each}}
      </div>
      <div class="row episode_entities">
        {{#each guests}}
        <div class="entity-wrap">
          {{> small_person_display}}
        </div>
        {{/each}}
      </div>
      <div class="player-wrap row">
        {{#if has_episode}}
        {{> player player_data}}
        {{/if}}
      </div>
    </div>
    <div class="highlights-pane">
      <div class="background"></div>
      <div class="row header">
        {{> viewer_header}}
      </div>
      <div class="chapters scroller">
        {{#each chapters}}
        {{> viewer_chapter}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="viewer_chapter">
  <div class="chapter_box">
    <div class="chapter_inner">
      {{#if ../published}}
      <span class="chapter-share">
        <i class="fa fa-share-square right"></i>
      </span>
      {{/if}}
      <div class="chapter_title">
        {{format_seconds_to_clock start_time}} -- {{index}}. {{title}}
      </div>
    </div>
  </div>

  <div class="highlights">
    {{#each highlights}}
    {{> viewer_highlight}}
    {{/each}}
  </div>
</template>

<template name="viewer_header">
  <div class="top-bar">
    <button class="btn btn-block">
      <span class="title">Viewer</span>
    </button>
  </div>
</template>

<template name="viewer_highlight">
  <div class="highlight-wrap highlight-wrap-time">
    <div class="background"></div>
    {{> viewer_marker}}

    {{#if has_company}}
    {{> small_picture company}}
    {{/if}}
    {{#if has_person}}
    {{> small_picture person}}
    {{/if}}
    {{#if has_link}}
    {{> small_picture link}}
    {{/if}}
    <div class="highlight_text">
      <span class="highlight_type">
        {{text_limit type_title 18}}
      </span>
      <span class="highlight_content">
        {{#if has_link}}
        <a href="{{url}}">{{text}}</a>
        {{else}}
        {{text}}
        {{/if}}
      </span>
    </div>
    {{#if ../../published}}
    <span class="bookmark{{bookmark_permanence}} right">
      <i class="{{bookmark_class}}"></i>
    </span>
    {{/if}}
  </div>
</template>

<template name="viewer_marker">
  <div class="row_text_time">
    <span class="highlight_time">
      <span class="plain_text_time">{{format_seconds_to_clock start_time}}</span>
      <input type="text" style="display:none" class="form-control edit_text_time dark-input" value="{{format_seconds_to_clock start_time}}">
    </span>
  </div>
</template>
