.admin_left {
  float:left;
  margin-right:20px;
}

.reactive-table tr {
  cursor: pointer;
}

.merge_text {
  position:relative;
  top:2px;
  font-size:20px;
  float:left
}

.merge_input {
  float:left;
  margin-right:10px;
  margin-left:10px;
}
