$text-time-width: 65px;

.editor-container {
  .media-pane {
    padding: 15px 30px 0;
  }
  .highlights-pane {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    @include box(vertical);
    .scroller {
      overflow: scroll;
      @include box-flex(1);
    }
  }
}
@mixin highlights-pane-setup($width) {
  .editor-container {
    .media-pane {
      margin-right: $width;
    }
    .highlights-pane {
      width: $width;
    }
  }
}
@media (min-width: $screen-sm-min) {
  @include highlights-pane-setup(500px);
}
@media (min-width: $screen-md-min) {
  @include highlights-pane-setup(650px);
}
@media (min-width: $screen-lg-min) {
  @include highlights-pane-setup(800px);
}



// overall editor container
.editor-container {
  .show_title, .episode_title {
    color: $off-white;
    @include h1-style();
    // should be open sans?
  }
  .episode_title {
    font-weight: $font-weight-heavy;
    font-size: 25px;
    // should be open sans?
  }
  .episode_entities {
    margin-bottom: 10px;
  }
  .player-wrap {
    margin-top: 20px;
    margin-right:0px
  }
  .highlights-pane {
    // header is only relevant for editing
    .header {
      padding-left: $text-time-width;
      margin: 0;
      z-index: 3; //get arrow in front
      .editing-stage {
        font-weight: $font-weight-heavy;
        .btn {
          height: 70px;
          background: $white;
          border-radius: 0;
          font-weight: $font-weight-heavy;
          text-transform: uppercase;
          border-right: 1px solid $cream1;
        }
        .title {
          text-align: center;
          font-size: 16px;
          letter-spacing: 2px;
        }
        .arrow_box {
          position: relative;
        }
        @mixin editing-stage-for-key($color) {
          color: $cream2; //$color;
          .active { //.btn
            background: $color;
            color: $white;
            border-color: transparent;
          }
          .arrow_box:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: fade_out($color, 1);
            border-top-color: $color;
            border-width: 7px 10px;
            margin-left: -10px;
            z-index: 1;
          }
        }
        &.editing-stage-review {
          @include editing-stage-for-key($mint);
        }
        &.editing-stage-draft {
          @include editing-stage-for-key($mint);
        }
        &.editing-stage-publish {
          @include editing-stage-for-key($mint);
        }
      }
    }
  }
}
