.editor_mode_draft {
  #new_input_row {
    padding-top: 10px;
    margin-right: 0;
  }
  .highlight-wrap {
    &:hover {
      .background {
          background: $cream2;
      }
      // TODO: remove for mobile
      .remove_highlight {
        opacity: 1;
      }
      .plain_text_time {
        color: $off-white;
      }
    }
  }
}
