$text-time-width: 65px;

// TODO: perhaps rename episode viewer, not really just about the editor

// overall layout of editing interface
// TODO: perhaps restrain to only editing/viewing style interface?
html, body {
  height: 100%;
  width: 100%;
}
body {
  @include box(vertical);
}
.editor-container {
  @include box-flex(1);
  @include box(vertical);
  > .row {
    @include box-flex(1);
    @include box();
    margin: 0;
    .highlights-pane, .media-pane {
      position: relative;
      float: none;
      padding: 0;
      //@include box-flex(1); // for firefox
      @include box(vertical);
    }
    .highlights-pane {
      width: 500px;
    }
    .media-pane {
      @include box-flex(1);
    }
    .scroller {
      @include box(vertical);
      overflow-y: scroll;
      @include box-flex(1);
    }
  }
}

// overall editor container
.editor-container {
  min-height: 700px;
  width: 100%; // full screen it!
  margin-right: 0;
  padding-right: 0;
  padding-left: 30px;
  .show_title, .episode_title {
    color: $off-white;
    font-weight: $font-weight-light;
    font-size: 30px;
    margin-bottom: 20px;
    // should be open sans?
  }
  .episode_title {
    font-weight: $font-weight-heavy;
    font-size: 25px;
    // should be open sans?
  }
  .episode_people {
    margin-bottom: 10px;
  }
  .player-wrap {
    margin-top: 20px;
    margin-right:0px
  }
  .highlights-pane {
    // header is only relevant for editing
    .header {
      padding-left: $text-time-width;
      margin: 0;
      .editing-stage {
        font-weight: $font-weight-heavy;
        .btn {
          height: 70px;
          background: $white;
          border-radius: 0;
          font-weight: $font-weight-heavy;
          text-transform: uppercase;
          border-right: 1px solid $cream1;
        }
        .title {
          text-align: center;
          font-size: 16px;
          letter-spacing: 2px;
        }
        .arrow_box {
          position: relative;
        }
        @mixin editing-stage-for-key($color) {
          color: $cream2; //$color;
          .active { //.btn
            background: $color;
            color: $white;
            border-color: transparent;
          }
          .arrow_box:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: fade_out($color, 1);
            border-top-color: $color;
            border-width: 7px 10px;
            margin-left: -10px;
            z-index: 1;
          }
        }
        &.editing-stage-review {
          @include editing-stage-for-key($mint);
        }
        &.editing-stage-draft {
          @include editing-stage-for-key($mint);
        }
        &.editing-stage-publish {
          @include editing-stage-for-key($mint);
        }
      }
    }
  }
}
