$text-time-width: 65px;

// overall layout
html, body {
  height: 100%;
}
body {
  @include box(vertical);
}
.editor-container {
  @include box-flex(1);
  @include box(vertical);
  > .row {
    @include box-flex(1);
    @include box();
    margin: 0;
    .highlights-pane, .media-pane {
      float: none;
      padding: 0;
      @include box(vertical);
    }
    .scroller {
      overflow-y: scroll;
      @include box-flex(1);
    }
  }
}


.add-person-btn {
  margin-right: 10px;
  // width: 80px;
  // height: 40px;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  .plus {
    font-weight: $font-weight-light;
    font-size: 27px;
    position: absolute;
    top: -4px;
    left: 8px;
  }
}
#add_host_button {
  margin-right:16px;
}


.remove_person {
  //cursor:pointer;
}

.small_person_display {
  padding-right: 10px;
  display: inline-block;
  .picture, .picture-placeholder {
    width: 31px;
    height: 31px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
  }
  .picture-placeholder {
    background: $gray;
  }
  .details {
    padding-right:10px;
    display: inline-block;
    position:relative;
    top:9px;
    .name {
      font-weight: $font-weight-heavy;
      margin-bottom: 0;
    }
    .twitter {
      margin-bottom: 0;
    }
  }
}
a.remove_person, a.episode_person {
  color: $white;
}

.btn-dotted {
  background: transparent;
  border: 2px dashed $ash1;
  color: $ash1;
  &:hover {
    color: $off-white;
    border-color: $off-white;
  }
}

// overall editor container
.editor-container {
  min-height: 700px;
  width: 100%; // full screen it!
  margin-right: 0;
  padding-right: 0;
  padding-left: 30px;
  .show_title, .episode_title {
    color: $off-white;
    font-weight: $font-weight-light;
    font-size: 40px;
    // should be open sans?
  }
  .episode_title {
    font-weight: $font-weight-heavy;
    font-size: 25px;
    // should be open sans?
  }
  .episode_people {
    margin-bottom: 10px;
  }
  .player-wrap {
    margin-top: 20px;
    margin-right:0px
  }
  .highlights-pane {
    .header {
      padding-left: $text-time-width;
      margin: 0;
      .editing-stage {
        font-weight: $font-weight-heavy;
        .btn {
          height: 70px;
          background: $white;
          border-radius: 0;
          font-weight: $font-weight-heavy;
          text-transform: uppercase;
          border-right: 1px solid $cream1;
        }
        .title {
          text-align: center;
          font-size: 16px;
          letter-spacing: 2px;
        }
        .arrow_box {
          position: relative;
        }
        @mixin editing-stage-for-key($color) {
          color: $cream2; //$color;
          .active { //.btn
            background: $color;
            color: $white;
            border-color: transparent;
          }
          .arrow_box:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: fade_out($color, 1);
            border-top-color: $color;
            border-width: 7px 10px;
            margin-left: -10px;
            z-index: 1;
          }
        }
        &.editing-stage-review {
          @include editing-stage-for-key($mint);
        }
        &.editing-stage-draft {
          @include editing-stage-for-key($mint);
        }
        &.editing-stage-publish {
          @include editing-stage-for-key($mint);
        }
      }
    }
  }
}
