@mixin clear-input() {
  background: transparent;
  border: 0;
  box-shadow: none;
}

@mixin dotted-style() {
  background: transparent;
  border: 2px dashed $ash1;
  color: $ash1;
  &:hover {
    color: $off-white;
    border-color: $off-white;
  }
}

@mixin dotted-style-nonwhite() {
  background: transparent;
  border: 2px dashed $ash1;
  color: $ash1;
}

@mixin dotted-input() {
  color: $white;
  &:focus {
    box-shadow: none;
    border-color: $white;
  }
}

@mixin ellipsis() {
   -o-text-overflow: ellipsis;   /* Opera */
   text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
   overflow:hidden;              /* don't show excess chars */
   white-space:nowrap;           /* force single line */
}

.btn-dotted {
  @include dotted-style();
}

.ellipsis {
  @include ellipsis();
}


// Twitter Typeahead
.tt-dropdown-menu {
  @extend .dropdown-menu;
}

// .tt-suggestion > p {
//   @extend .dropdown-menu > li > a;
//   &:hover,
//   &:focus {
//     @extend .dropdown-menu > .active > a;
//   }
// }
.tt-dropdown-menu {
  background: $cream1;
  border: 1px solid $cream2;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  width: 300px;
  z-index: $zindex-dropdown;
}
.tt-suggestion.tt-cursor {
  background-color: $mint;
}
.tt-suggestion > p {
  display: block;
  padding: 6px 20px;
  clear: both;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
}
.tt-header {
  padding: 8px 20px 3px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $ash1;
}
