@mixin clear-input() {
  background: transparent;
  border: 0;
  box-shadow: none;
}

@mixin dotted-style() {
  background: transparent;
  border: 2px dashed $ash1;
  color: $ash1;
  &:hover {
    color: $off-white;
    border-color: $off-white;
  }
}

@mixin dotted-input() {
  color: $white;
  &:focus {
    box-shadow: none;
    border-color: $white;
  }
}

.btn-dotted {
  @include dotted-style();
}

// Twitter Typeahead
.tt-dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  width: 300px;
  z-index: $zindex-dropdown;
}
.tt-suggestion.tt-cursor {
  background-color: $mint;
}
.tt-header {
  padding: 8px 20px 3px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $ash1;
}
