
.new_time {
    top:15px
}
.plain_text_time:hover {
    color:#FFFDF8;
}

.dark-input {
  background: $smoke3;
  color: $white;
}

.chapter_box {
  padding-left: $text-time-width;
  clear:both;
  .chapter_inner {
    background: $off-white;
    border-top: 1px solid $cream1;
    padding: 10px;
    position: relative;
  }
  .chapter_title {
    text-align: center;
  }
  .remove_chapter {
    position: absolute;
    right: 10px;
    top: 9px;
  }
}


.highlight-wrap {
  @include box();
  margin: 0;
  position: relative;
  > *:not(.row_text_time) {
    position: relative;
    z-index: 1;
  }
  > .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  &.highlight-wrap-time {
    .background {
      left: $text-time-width;
    }
  }
  .row_text_time {
    text-align: center;
    width: $text-time-width;
    .plain_text_time {
      color: $ash1;
    }
    .edit_text_time {
        font-size:12px;
        height:25px;
        text-align:right;
        padding-left:3px;
        padding-right:3px;
        width:60px;
        padding-top:1px;
        padding-bottom:1px;
    }
    .edit_time {
        cursor:pointer;
    }
  }
  .link_review {
    #url_input {

    }
    .highlight_url {
      cursor: pointer;
    }
    &:before {
      content: "/";
    }
  }
  .highlight_content {
    padding-right: 10px;
    cursor: pointer;
    color: $metal1;
    font-family: $font-slab;
  }
  #content_input_span {
    position: relative;
    display: block;
    margin-right: 15px;
  }
  #content_input {
    background: $off-white;
    outline: none;
    display: block;
    padding: 4px;
    color: $metal1;
    font-family: $font-slab;
  }
  .character_cutoff.exceeded {
    color: $coral;
  }
  .highlight_image {
    padding-left: 10px;
    padding-right: 10px;
    width: 51px;
    font-size: 2.1em;
    .picture {
      width: 31px;
      height: 31px;
      border-radius: 3px;
      display: inline-block;
    }
  }
  .highlight_text {
    @include box-flex(1);
    padding: 13px 0;
  }
  .highlight_type {
    font-weight: $font-weight-heavy;
    padding-right: 4px;
    text-transform: uppercase;
  }
  .highlight_time {
    position:relative;
    top:13px;
    font-size:12px;
  }
  .remove_highlight {
    margin-right: 10px;
    position: relative;
    top: 13px;
    opacity: 0;
  }
  &.is-editing {
    .background {
      background: $lemon;
    }
  }
}

#new_input_row {
  z-index: 2; // to be on top of scroller for autocomplete
  > div:not(.row_text_time) {
    background: $lemon;
  }
  #new_input_dot {
    padding: 12px 16px 0;
    .fa {
      font-size: 1.5em;
    }
  }
  #typeahead_input {
    .twitter-typeahead {
      display: block !important;
    }
    .form-control {
      padding: 0;
      height: auto;
      @include clear-input();
    }
  }
  #content_input_text_test {
    height:auto;
    width:auto;
  }
  #character_cutoff {
    display:none;
  }
}
