.container {
  .home-top-intro {
    height: 300px;
  }
  .home-display {
    background-color: $ash1;
    .home-left-pane {
      background-color: $cream1;
      float: left;
      width: 75%;
    }
    .home-right-pane {
      background-color: $off-white;
      float: left;
    }
  }
}