#welcome {
  background:$cream1;
  color:$ash1;
  font-weight:$font-weight-medium;
  font-family:$font-lato;
  .welcome_message {
    margin-top:20px;
    margin-bottom:20px;
    font-size:15px;
  }
}
