$footer-height: 50px;

html, body {
  height: 100%;
}

.nav-container {
  width: 100%; // full screen it!
  margin-right: 0;
  padding-right: 30px;
}

// apply this to any container that should push the footer down
.container-full-height {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

footer {
  padding: 30px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  height: $footer-height;
  color: $gray-light;
  a {
    color: $gray-lighter;
  }
}
