.media-pane {
  .add-entity-btn {
    margin-right: 10px;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    line-height: 39px;
    font-size: 10px;
    text-transform: uppercase;
    height: 30px;
    padding: 0;
    width: 60px;
    vertical-align: top;
    .plus {
      font-weight: $font-weight-heavy;
      font-size: 22px;
      position: absolute;
      top: -13px;
      left: 22px;
    }
  }
  .new_entity_input_wrap {
    vertical-align: top;
    display: inline-block;
    .new_entity_input {
      @include dotted-input();
      @include dotted-style();
      width: 200px;
      display: inline-block;
      vertical-align: top;
    }
  }
  .entity-wrap {
    color: $off-white;
    position: relative;
    display: inline-block;
    .remove_entity {
      position: absolute;
      display: none;
      color: $white;
      cursor: pointer;
      top: -10px;
      left: -10px;
      background: $coral;
      border-radius: 20px;
      height: 20px;
      width: 20px;
      text-align: center;
      text-decoration: none;
    }
    &:hover {
      .remove_entity {
        display: block;
      }
    }
  }
}
