.container-signin, .container-signup {
  .entry {
    border-radius: 0;
    background: $cream1;
  }
}
#signIn, #signUp {
  .btn.submit {
    width: 50%;
    background: $mint;
    color: $white; // TODO: unify primary button style
  }
}
