body {
    background-color:#444240;
}

.arrow_box_draft {
    position: relative;
    background: #df5445;
}

.arrow_box_publish {
    position: relative;
    background: #E6A861;
}

.arrow_box_review {
    position: relative;
    background: #76C58D;
}

.arrow_box_draft:after, .arrow_box_draft:before, .arrow_box_publish:after, .arrow_box_publish:before, .arrow_box_review:after, .arrow_box_review:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_publish:after {
    border-color: rgba(0, 255, 127, 0);
    border-top-color: #E6A861;
    border-width: 10px;
    margin-left: -10px
}
.arrow_box_publish:before {
    border-color: rgba(0, 255, 127, 0);
    border-top-color: #E6A861;
    border-width: 10px;
    margin-left: -10px
}

.arrow_box_draft:after {
    border-color: rgba(223, 84, 69, 0);
    border-top-color: #df5445;
    border-width: 10px;
    margin-left: -10px
}
.arrow_box_draft:before {
    border-color: rgba(223, 84, 69, 0);
    border-top-color: #df5445;
    border-width: 10px;
    margin-left: -10px
}

.arrow_box_review:after {
    border-color: rgba(230, 168, 97, 0);
    border-top-color: #76C58D;
    border-width: 10px;
    margin-left: -10px
}
.arrow_box_review:before {
    border-color: rgba(230, 168, 97, 0);
    border-top-color: #76C58D;
    border-width: 10px;
    margin-left: -10px
}

#show_title {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
}

#episode_title {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}

#player {
    width: 100%
}

#speaker_input {
    width:100%
}


.scroller {
    overflow-y:scroll;
}

.inherit {
    height: inherit;
}

.left {
    float:left;
}

.right {
    float:right;
}

.highlight_content {
    padding-right: 10px;
    cursor:pointer;
}

.highlight_image {
    padding-left: 10px;
    padding-right: 10px;
}

.highlight_text {
    position:relative;
    top:5px;
}

.highlight_time {
    position:relative;
    top:5px;
    font-size:12px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #444240;
    background-image: -webkit-linear-gradient(left, #ccc, #444240, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #444240, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #444240, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #444240, #ccc);
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.remove_person {
    background-color:#444240;
    padding:0px;
    height:40px;
    border-color:#444240;
    cursor:pointer;
}

.twitter-typeahead {
    width:inherit;
}

.edit_text_time {
    font-size:12px;
    height:25px;
    text-align:right;
    margin-left:30px;
    padding-left:3px;
    padding-right:3px;
    width:60px;
    padding-top:1px;
    padding-bottom:1px;
}

.edit_time {
    cursor:pointer;
}
.new_time {
    top:15px
}

.plain_text_time:hover {
    color:#FFFDF8;
}

.chapter_divider {
    cursor:pointer;
    display:none;
    position:relative;
    top:25px;
    text-align:right;
}

.row_text_time:hover .chapter_divider {
    display:block
}

.row_text_time {
    height:40px;
    width:65px;
    margin-left:15px;
}

.chapter_title {
    text-align:center;
    color:black;
    overflow:hidden;
    width:88%;
    float:left;
    position:relative;
    left:35px
}

/* Temporary */
.box {
    position: relative;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(0, 0, 0, 0.1);
}

/* Fonts */
.light_font {
    font-weight: 300;
}

.regular_font {
    font-weight: 300;
}

.bold_font {
    font-weight: 700;
}

.roboto_slab {
    font-family: 'Robot Slab' !important;
}

.lato {
    font-family: 'Lato' !important;
}

/* Colors */
.ash_1_text {
    color: $ash1;
}

.grey_text {
    color:grey
}

.red_text {
    color:red
}

.white {
    background-color: $white;
}
.white_text {
    color: $white;
}

.coral {
    background-color: $coral;
}
.coral_text {
    color: $coral;
}

.cream_1 {
    background-color: $cream1;
}

.cream_2 {
    background-color: $cream2;
}

.lemon {
    background-color: $lemon;
}

.metal_1_text {
    color: $metal1;
}

.metal_2_text {
    color: $metal2;
}

.mint {
    background-color: $mint;
}
.mint_text {
    color: $mint;
}

.smoke_1 {
    background-color: $smoke1;
}

.smoke_2 {
    background-color: $smoke2;
}

.smoke_3 {
    background-color: $smoke3;
}

.tangerine {
    background-color: $tangerine;
}
.tangerine_text {
    color: $tangerine;
}
