$smoke1: #444240;
$smoke2: #3C3A38;
$smoke3: #2F2E2C;
$ash1: #7E7977;
$cream1: #E4E2DB;
$cream2: #C0BBAA;
$lemon: #FFF1A9;
$coral: #df5445;
$tangerine: #E6A861;
$mint: #76C58D;
$white: #FFFDF8;
$metal1: #727272;
$metal2: #444443;

$font-lato: "Lato", Helvetica, Arial, sans-serif;
$font-slab: "Roboto Slab", Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base: $font-lato;
$font-weight-light: 100;
$font-weight-medium: 400;
$font-weight-heavy: 700;
