// wrapper for video-js
.video-wrap {
  position: relative;
  .summary {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    background: fade-out($smoke3, .3);
    color: $cream1;
    overflow: hidden;
    .summary-inner {
      padding:20px;
      line-height: 1.4;
      font-size: 18px;
    }
  }
  .video-js {
    z-index: 1; // on top
  }
  // while paused
  &.vjs-paused {
    .video-js {
      background-color: transparent;
    }
    .vjs-tech {
      opacity: 0;
    }
  }

  // forward/back
  .vjs-play-control {
    margin: 0 3em;
    width: 4em;
  }
  .vjs-rewind-control, .vjs-forward-control {
    width: 3em;
    cursor: pointer;
    position: absolute;
    &:before {
      font-family: FontAwesome;
      content: "\f0e2"; // rotate left
    }
  }
  .vjs-forward-control {
    left: 7em;
    &:before {
      content: "\f01e"; // rotate right
    }
  }

  // markers
  .vjs-tip {
    font-size: 12px;
    color: $white;
    font-size: 12px;
  }

}
