.arrow_box_draft {
    position: relative;
    background: #df5445;
}

.arrow_box_publish {
    position: relative;
    background: #00FF7F;
}

.arrow_box_clean {
    position: relative;
    background: #E6A861;
}

.arrow_box_draft:after, .arrow_box_draft:before, .arrow_box_publish:after, .arrow_box_publish:before, .arrow_box_clean:after, .arrow_box_clean:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_publish:after {
    border-color: rgba(0, 255, 127, 0);
    border-top-color: #00FF7F;
    border-width: 10px;
    margin-left: -10px
}
.arrow_box_publish:before {
    border-color: rgba(0, 255, 127, 0);
    border-top-color: #00FF7F;
    border-width: 10px;
    margin-left: -10px
}

.arrow_box_draft:after {
    border-color: rgba(223, 84, 69, 0);
    border-top-color: #df5445;
    border-width: 10px;
    margin-left: -10px
}
.arrow_box_draft:before {
    border-color: rgba(223, 84, 69, 0);
    border-top-color: #df5445;
    border-width: 10px;
    margin-left: -10px
}

.arrow_box_clean:after {
    border-color: rgba(230, 168, 97, 0);
    border-top-color: #E6A861;
    border-width: 10px;
    margin-left: -10px
}
.arrow_box_clean:before {
    border-color: rgba(230, 168, 97, 0);
    border-top-color: #E6A861;
    border-width: 10px;
    margin-left: -10px
}

#show_title {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
}

#episode_title {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}

#player {
    width: 100%
}

#speaker_input {
    width:100%
}

.white_text {
    color: #FFFDF8;
}

.grey {
    color:grey
}

.red {
    color:red
}

.scroller {
    overflow-y:scroll;
}

.inherit {
    height: inherit;
}

.left {
    float:left;
}

.right {
    float:right;
}

.highlight_content {
    padding-right: 10px;
    color: grey;
}

.highlight_image {
    padding-left: 10px;
    padding-right: 10px;
    top:3px;
}

.highlight_time {
    position:relative;
    top:7.5px;
    font-size:12px;
}

.highlight_text {
    font-size:20px
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.remove_person {
    background-color:#333;
    padding:0px;
    height:40px;
    border-color:#333;
    cursor:pointer;
}
