#show_title {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
}

#episode_title {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
}

#player {
    width: 100%
}

#speaker_input {
    width:100%
}

.white_text {
    color: #FFFDF8;
}

.grey {
    color:grey
}

.red {
    color:red
}

.inherit {
    height: inherit;
}

.left {
    float:left;
}

.right {
    float:right;
}

.highlight_content {
    padding-right: 10px;
    color: grey;
}

.highlight_image {
    padding-left: 10px;
    padding-right: 10px;
    top:3px;
}

.highlight_time {
    position:relative;
    top:5px
}

.highlight_text {
    font-size:20px
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

.twitter-typeahead {
     width: 100%;
}
.tt-dropdown-menu {
    width: 100%;
}
input.form-control.tt-hint {
    width:100%
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}