<template name="episodes_edit">
  <div class="col-md-1">
  </div>

  <div class="col-md-10 white_text">
    {{> quickForm collection="Episodes" doc=edit_document id="episodes_edit" type="update" omitFields="created_at, updated_at, postedited_at, claimed_at, feed"}}
    <p>
      <br>
      <a href="{{pathFor 'episodes_list' route=show_route}}">Back to Episodes</a>
    </p>
  </div>

  <div class="col-md-1">
    <br>
    {{> afDeleteButton collection="Episodes" doc=edit_document}}
  </div>
</template>
