<template name="admin">
  <div class="container">
    <div class="row message" style="text-align:center; margin-bottom:30px; margin-top:10px;">
      {{message}}
    </div>
    <div class="row">
      <div class="admin_left">
        <p class="title message">
          Adjust [Trial] Editor Status
        </p>
      </div>
      <div class="admin_left">
        <form class="form-search form-horizontal">
          <div class="input-append">
            <input id="search_users_field" type="text" class="form-control editor_search_input" placeholder="Search by UserName">
            <button type="button" class="btn"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
      <div class="admin_left">
        <span class="title message">
          {{username}}
        </span>
      </div>
      <div class="admin_left">
        {{#if has_user}}
        <button type="button" class="btn btn-primary" id="set_editor">
          {{#if is_editor}}
          Revoke Editor Status
          {{else}}
          Make Editor
          {{/if}}
        </button>
        {{/if}}
      </div>
      <div class="admin_left">
        {{#if has_user}}
        <button type="button" class="btn btn-primary" id="set_editor_trial">
          {{#if is_editor_trial}}
          Revoke Trial Editor Status
          {{else}}
          Make Trial Editor
          {{/if}}
        </button>
        {{/if}}
      </div>
      {{#if is_editor_trial}}
      <div class="admin_left">
        <button type="button" class="btn btn-primary" id="set_editor_agreement">
        {{#if has_signed_agreement}}
          Revoke Legal
        {{else}}
          Sign Legal
        {{/if}}
        </button>
      </div>
      {{/if}}
    </div>
  </div>
</template>
