<template name="admin">
  <div class="container container-full-height container-light">
    <h1>Admin Page</h1>
    <ul>
      <h3>Collections</h3>
      <li><a href="{{pathFor 'companies_list'}}">Companies</a></li>
      <li><a href="{{pathFor 'people_list'}}">People</a></li>
      <li><a href="{{pathFor 'shows_list'}}">Shows</a></li>
      <li><a href="{{pathFor 'users_list'}}">Users</a></li>
    </ul>
    <br>
    <ul>
      <h3>Actions</h3>
      <li><a href="{{pathFor 'episodes_postedited'}}">Postedited & pending publication</a></li>
      <li><a href="{{pathFor 'payments_outstanding'}}">Oustanding Payments</a></li>
    </ul>
  </div>
</template>
