<template name="editor_highlight_time">
  <div class="row_text_time left smoke_1" style="text-align:center; {{new_time_style}}">
    <span class="highlight_time {{edit_time}}">
      <span class="plain_text_time regular_font ash_1_text">{{format_seconds_to_clock start_time}}</span>
      <input type="text" style="display:none" class="form-control edit_text_time smoke_3 white_text" value="{{format_seconds_to_clock start_time}}">
    </span>
  </div>
</template>

<template name="editor_mode_draft">
  <div class="editor_mode_draft">
    <div id="new_input_row" class="row">
      {{> editor_highlight_time new_time}}
      {{> editor_new_input episode_id}}
    </div>
    {{#each highlights}}
    <div class="highlight-wrap row">
      {{> editor_highlight_time}}
      {{> editor_highlight}}
    </div>
    {{/each}}
  </div>
</template>

<template name="editor_new_input">
  <div id="new_input_dot" class="left" style="vertical-align:middle; padding-left:10px; width:auto; padding-right:10px; position:relative; top:5px">
    <i class="fa fa-chevron-circle-right" style="font-size:1.5em"></i>
  </div>

  <div id="typeahead_input" style="float:left; padding-right:10px; color:black">
    {{> editor_search}}
  </div>

  <span class="left bold_font" style="display:none; float:left; padding-right:10px; position:relative; top:5px; width:110px" id="speaker_name">
    {{text_limit speaker_name 15}}
  </span>

  <span id="content_input_span" style="display:none;">
    <!--TODO: Fix this so that it fits with the rest of the line-->
    <textarea class="form-control" id="content_input" rows="1"></textarea>
  </span>

  <div class="right" id="character_cutoff" style="padding-right:13px; position:relative; top:5px;">
    {{> character_cutoff}}
  </div>

  <div id="content_input_text_test" style="display:none; height:auto; width:auto;"></div>
</template>

<template name="editor_search">
  <input class="form-control" type="text" id="prefix_token_input" placeholder="Speaker:@, Sponsor:!, Link:#" style="min-width:215px">
  <span id="speaker_span" style="display:none">
    <input class="form-control editor_search_input" type="text" id="speaker_input" placeholder="Search Speaker">
  </span>
  <span id="sponsor_span" style="display:none">
    <input class="form-control editor_search_input" type="text" id="sponsor_input" placeholder="Search Sponsors">
  </span>
</template>
