<template name="editor_mode_review">
  <div class="editor_mode_review scroller">
  {{#each chapters}}
  {{> chapter_layout}}
  {{/each}}
</div>
</template>

<template name="chapter_layout">
  <div class="chapter_box">
    <div class="chapter_inner">
      <div class="chapter_title contenteditable {{ chapter_title_class }}" contenteditable="true">
        {{title}}
      </div>
      {{#unless first}}
      <button class="btn btn-default btn-xs remove_chapter">
        <i class="fa fa-times"></i>
      </button>
      {{/unless}}
    </div>
  </div>
  <div class="highlights">
    {{#each highlights}}
    <div class="highlight-wrap highlight-wrap-time {{ editing_content_class }}">
      <div class="background"></div>
      {{> editor_make_chapter}}
      {{> editor_highlight}}
    </div>
    {{/each}}
  </div>
</template>

<template name="editor_make_chapter">
  <div class="row_text_time">
    {{#unless last}}
    <span class="chapter_divider" data-toggle="tooltip" data-placement="right" title="Insert chapter heading">
      <i class="fa fa-hand-o-right fa-inverse" style="font-size:1.5em"></i>
    </span>
    {{/unless}}
  </div>
</template>
