<template name="add_person">
  <button class="btn btn-primary left" id="add_{{id}}_button" type="button" style="margin-right:10px; width:80px; height:40px">
    <i class="fa fa-plus-square"> {{capitalize id}}</i>
  </button>

  <span id="new_person_input_span_{{id}}" class="left" style="display:none; width:160px">
    <input id="new_person_input_{{id}}" class="form-control left new_person_input" style="width:inherit" type="text" placeholder="Enter {{capitalize id}} Name">
  </span>
</template>

<template name="character_cutoff">
  <small class="box_title" style="display:inline-block; float:right">
    <div id="character_cutoff" style="color:{{current_notes_color}}">
      <span>{{current_char_counter}}</span>
      <span>&nbsp;/&nbsp;</span>
      <span>{{max_chars}}</span>
    </div>
  </small>
</template>

<template name="editor">
  <div class="container" style="height:700px; min-height:700px;">
    <div class="row inherit">
      <div class="col-md-5 inherit">
        <div class="row">
          <p id="show_title" class="white_text">{{show_title}}</p>
        </div>
        <div class="row">
          <p id="episode_title" class="white_text"><b>{{episode_title}}</b></p>
        </div>
        <div class="row" id="episode_hosts" style="height:45px">
          {{> add_person add_host}}
          {{#each hosts}}
          <a class="remove_person" type="host">
            {{> small_person_display}}
          </a>
          {{/each}}
        </div>
        <div class="row" id="episode_guests" style="height:45px">
          {{> add_person add_guest}}
          {{#each guests}}
          <a class="remove_person" type="guest">
            {{> small_person_display}}
          </a>
          {{/each}}
        </div>
        <div class="row" style="margin-top:20px; margin-right:0px">
          {{#if has_episode}}
            {{> player player_data}}
          {{/if}}
        </div>
      </div>
      <div class="col-md-7 inherit">
        <section class="white_text scroller" style="padding-top:0px; padding-left:0px; padding-right:0px; height: 100%; background-color:#BFBFB6;">
          <div class="row" id="header" style="background-color:#333; margin-bottom:10px; padding-left:65px; margin-left:0px">
            <div class="col-md-4">
              {{> editor_header_box header_draft}}
            </div>
            <div class="col-md-4">
              {{> editor_header_box header_review}}
            </div>
            <div class="col-md-4">
              {{> editor_header_box header_publish}}
            </div>
          </div>
          <div class="row" id="mode_row">
            {{#if is_editor_mode "draft"}}
            {{> editor_mode_draft}}
            {{/if}}
            {{#if is_editor_mode "review"}}
            {{> editor_mode_review}}
            {{/if}}
            {{#if is_editor_mode "publish"}}
            {{> editor_mode_publish}}
            {{/if}}
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<template name="editor_header_box">
  <div class="row" style="background-color:white">
  {{#if is_editor_mode key}}
  <div class="arrow_box_{{key}}">
    <button class="btn btn-block" style="height:70px;background-color:{{color}}">
      <span style="text-align:center; color:white">{{title}}</span>
    </button>
  </div>
  {{else}}
  <button class="btn btn-block" style="height:70px; background-color:white">
    <span style="text-align:center; color:{{color}}">{{title}}</span>
  </button>
  {{/if}}
  </div>
</template>

<template name="editor_highlight">
  <div class="row" style="height:40px; margin-left:0px">
    <div class="left highlight_image">
      {{#if has_company}}
      {{> small_picture company}}
      {{/if}}
      {{#if has_person}}
      {{> small_picture person}}
      {{/if}}
      {{#if has_link}}
      {{> small_picture link}}
      {{/if}}
    </div>
    <div class="highlight_text left">
      <span class="highlight_type left" style="padding-right:10px;">
        {{type_title}}
      </span>
      <span class="highlight_content left" style="color:grey">
        {{text}}
      </span>
    </div>
    <button class="btn btn-default btn-xs remove_highlight right" style="margin-right:10px">
      <i class="fa fa-times"></i>
    </button>
  </div>
</template>

<template name="editor_highlight_time">
  <div class="row row_text_time" style="height:40px; text-align:right; margin-right:10px">
    <span class="highlight_time {{edit_time}}" style="{{edit_time_display}}">
      <span class="plain_text_time">{{format_seconds_to_clock start_time}}</span>
      <input type="text" style="display:none" class="form-control edit_text_time" value="{{format_seconds_to_clock start_time}}">
    </span>
  </div>
</template>

<template name="editor_mode_draft">
  <div id="highlight_times" class="inherit left" style="background-color:#333; margin-top:-10px">
    <div style="clear:both; min-width:80px; margin-top:10px">
      {{> editor_highlight_time new_time}}
      {{#each highlights}}
      {{> editor_highlight_time}}
      {{/each}}
    </div>
  </div>
  <div class="inherit left">
    <div style="clear:both">
    {{> editor_new_input}}
    {{#each highlights}}
    {{> editor_highlight}}
    {{/each}}
    </div>
  </div>
</template>

<template name="editor_mode_publish">

</template>

<template name="editor_mode_review">
  <div id="highlight_times" class="inherit left" style="background-color:#333; margin-top:-10px">
    <div style="clear:both; min-width:80px; margin-top:10px">
      {{#each highlights}}
      {{> editor_highlight_time}}
      {{/each}}
    </div>
  </div>
  <div class="inherit left">
    <div style="clear:both">
    {{#each highlights}}
    {{> editor_highlight}}
    {{/each}}
    </div>
  </div>
</template>

<template name="editor_new_input">
  <div class="row" style="min-height:40px; margin-left:0px">
    <div style="width:100%; display:table">
      <span id="speaker_type" style="display:table-cell; vertical-align:middle; padding-left:10px; width:40px; padding-right:10px">
        {{#if is_speaker_set}}
        {{capitalize speaker_type}}
        {{else}}
        <i class="fa fa-chevron-circle-right" style="font-size:1.5em"></i>
        {{/if}}
      </span>

      <div id="typeahead_input" style="display:table-cell; padding-right:10px; color:black">
        {{> editor_search}}
      </div>

      <h4 style="display:none; vertical-align:middle" id="speaker_name">{{speaker_name}}</h4>

      <span id="content_input_span" style="display:none;">
        <textarea class="form-control" id="content_input" rows="1"></textarea>
      </span>

      <div style="display:table-cell; padding-right:10px">
        {{> character_cutoff}}
      </div>
    </div>
  </div>
  <div id="content_input_text_test" style="display:none; height:auto; width:auto;"></div>
</template>

<template name="editor_search">
  <input class="form-control" type="text" id="prefix_token_input" placeholder="Speaker:@, Sponsor:!, Link:#">
  <span id="speaker_span" style="display:none">
    <input class="form-control editor_search_input" type="text" id="speaker_input" placeholder="Search Speaker">
  </span>
  <span id="sponsor_span" style="display:none">
    <input class="form-control editor_search_input" type="text" id="sponsor_input" placeholder="Search Sponsors">
  </span>
</template>

<template name="small_person_display">
  <div class="left" style="padding-right:10px">
    {{> small_picture}}
  </div>
  <div class="left" style="padding-right:10px">
    <p class="white_text" style="margin-bottom:0px">{{text_limit first_name 10}}</p>
    <p class="white_text" style="margin-bottom:0px">{{text_limit last_name 10}}</p>
  </div>
</template>

<template name="small_picture">
  {{#if is_link}}
  <span style="width:40px; font-size:1.5em">
    <i class="fa fa-link fa-inverse fa-rotate-135"></i>
  </span>
  {{else}}
  <img class="picture" src="{{img}}">
  <span class="white_text">(img)</span>
  {{/if}}
</template>
