<template name="editor_mode_review">
  {{#each chapters}}
  {{> chapter_layout}}
  {{/each}}
</template>

<template name="chapter_layout">
  <div class="chapter_box smoke_1" style="height:40px; padding-left:65px; clear:both; {{margin_top}}">
    <div class="white inherit" style="border-top:1px solid; padding-top:10px">
      <div class="chapter_title contenteditable {{title_color}}" contenteditable="true">
        {{title}}
      </div>
      {{#unless first}}
      <button class="btn btn-default btn-xs remove_chapter right" style="margin-right:10px">
        <i class="fa fa-times"></i>
      </button>
      {{/unless}}
    </div>
  </div>
  <div class="cream_1">
    {{#each highlights}}
    <div class="highlight-wrap {{background_color_class}}">
      {{> editor_make_chapter}}
      {{> editor_highlight}}
    </div>
    {{/each}}
  </div>
</template>

<template name="editor_make_chapter">
  <div class="row_text_time left smoke_1">
    {{#unless last}}
    <span class="chapter_divider">
      <i class="fa fa-hand-o-right fa-inverse" style="font-size:1.5em"></i>
    </span>
    {{/unless}}
  </div>
</template>
