<!--TODO: new_person_input, like all of the typeaheads, are visually off-->
<template name="add_person">
  <button class="add-person-btn btn btn-dotted" id="add_{{id}}_button" type="button">
    <span class="plus">+</span> {{capitalize id}}
  </button>

  <span id="new_person_input_span_{{id}}" class="left" style="display:none; width:160px">
    <input id="new_person_input_{{id}}" class="form-control left new_person_input smoke_3" style="width:inherit" type="text" placeholder="Enter {{capitalize id}} Name">
  </span>
</template>

<template name="character_cutoff">
  <small class="box_title" style="display:inline-block;">
    <div style="color:{{current_notes_color}}; width:auto; max-width:55px">
      <span>{{current_char_counter}}</span>
      <span>&nbsp;/&nbsp;</span>
      <span>{{max_chars}}</span>
    </div>
  </small>
</template>

<template name="editor">
  <div class="editor-container container">
    <div class="row">
      <div class="col-sm-5">
        <div class="row">
          <p class="show_title">{{show_title}}</p>
        </div>
        <div class="row">
          <p class="episode_title"><b>{{episode_title}}</b></p>
        </div>
        <div class="row episode_hosts">
          {{> add_person add_host}}
          {{#each hosts}}
          <a class="remove_person" type="host">
            {{> small_person_display}}
          </a>
          {{/each}}
        </div>
        <div class="row episode_guests">
          {{> add_person add_guest}}
          {{#each guests}}
          <a class="remove_person" type="guest">
            {{> small_person_display}}
          </a>
          {{/each}}
        </div>
        <div class="player-wrap row">
          {{#if has_episode}}
          {{> player player_data}}
          {{/if}}
        </div>
      </div>
      <div class="col-sm-7 right-pane">
        <section class="scroller">
          <div class="row header">
            <div class="col-sm-4">
              {{> editor_header_box header_draft}}
            </div>
            <div class="col-sm-4">
              {{> editor_header_box header_review}}
            </div>
            <div class="col-sm-4">
              {{> editor_header_box header_publish}}
            </div>
          </div>
          {{#if is_editor_mode "draft"}}
          {{> editor_mode_draft episode}}
          {{/if}}
          {{#if is_editor_mode "review"}}
          {{> editor_mode_review episode}}
          {{/if}}
          {{#if is_editor_mode "publish"}}
          {{> editor_mode_publish episode}}
          {{/if}}
        </section>
      </div>
    </div>
  </div>
  <div id="content_input_text_test" style="display:none; height:auto; width:auto;"></div>
</template>

<template name="editor_header_box">
  <div class="editing-stage editing-stage-{{key}} row">
    {{#if is_editor_mode key}}
    <div class="arrow_box">
      <button class="active btn btn-block">
        <span class="title">{{title}}</span>
      </button>
    </div>
    {{else}}
    <button class="btn btn-block">
      <span class="title">{{title}}</span>
    </button>
    {{/if}}
  </div>
</template>

<template name="editor_highlight">
  <div class="highlight_image">
    {{#if has_company}}
    {{> small_picture company}}
    {{/if}}
    {{#if has_person}}
    {{> small_picture person}}
    {{/if}}
    {{#if has_link}}
    {{> small_picture link}}
    {{/if}}
  </div>
  <div class="highlight_text">
    <span class="highlight_type">
      {{text_limit type_title 18}}
    </span>
    {{#if is_editing_highlight_content}}
    <textarea rows="1" id="content_input" class="form-control">{{text}}</textarea>
    <div id="character_cutoff">
      {{> character_cutoff}}
    </div>
    {{else}}
    <span class="highlight_content {{cue_color}}">
      {{text}}
    </span>
    {{/if}}

    {{#if has_link_review}}
    <span class="left" style="margin-left:-5px; padding-right:5px">/</span>
    <div class="light_font left">
      {{#if is_editing_highlight_url}}
      <input id="url_input" class="form-control smoke_3" type="text" placeholder="{{url_placeholder}}">
      {{else}}
      <span class="highlight_url" style="cursor:pointer">
        {{text_limit_url url_placeholder 25}}
      </span>
      {{/if}}
    </div>
    {{/if}}
  </div>
  <button class="btn btn-default btn-xs remove_highlight">
    <i class="fa fa-times"></i>
  </button>
</template>

<template name="small_person_display">
  <div class="small_person_display">
    {{#if has_avatar}}
    <img class="picture" src="{{avatar}}">
    {{else}}
    <span class="picture-placeholder"></span>
    {{/if}}
    <div class="details">
      <p class="name">{{text_limit name 18}}</p>
      {{#if has_twitter}}
      <p class="twitter">@{{twitter}}</p>
      {{/if}}
    </div>
  </div>
</template>

<template name="small_picture">
  <span style="width:auto; position:relative; top:5px">
    {{#if is_type "link"}}
    <i class="fa fa-link fa-rotate-135" style="font-size:1.2em"></i>
    {{/if}}
    {{#if is_type "company"}}
    <i class="fa fa-users" style="font-size:1.2em"></i>
    {{/if}}
    {{#if is_type "person"}}
    <img class="picture" style="width:18px" src="{{img}}">
    {{/if}}
  </span>
</template>
