<template name="guidelines">
{{#markdown}}




#Timelined Editor Guidelines

##Introduction

Timelined is an application designed to answer the who, what and when for audio and video. *Who said it? What did they say? When did they say it?* Our editors listen to audio or watch video, then break it down into smaller pieces called *highlights*. A collection of highlights make up the timeline for an episode.

##Your mission

As an editor, you'll create highlights based on the interesting discussions, stories, product recommendations, events, interviews and news you find in an episode. Our users should be able to quickly skim these notes and links to find what interests them. Think of the highlights you write as [Cliffs Notes](http://en.wikipedia.org/wiki/CliffsNotes) for a particular piece of audio or video.

##Terminology

**Shows**

Shows are podcasts and videos. They're published regularly to places like iTunes or Youtube via feeds (a subscription protocol. Our software crawls these feeds looking for new instances of the show. When we find one, we put it into our database and prep it for editors.

Examples:

* [Podcast - The Joe Rogan Experience](http://joerogan.net/podcasts/)
* [Video - Foundation](http://foundation.bz)


**Episodes**

Episodes are instances of a show. As described above, we look for new episodes and get them ready for editors. New episodes make up the *queue*, which is where you'll find things to work on.

Example:

*[Daring Fireball Episode 79](http://www.muleradio.net/thetalkshow/79/)


**Highlights**

Highlights, which you'll be creating, are short summaries answering who, what and when for an episode.

![](/images/guidelines/highlight-example.png)

A highlight can be one of four types: note, quote, link or sponsor. All highlights have a timestamp.

*Note* - a summary of what was said and who said it.

* *Tim explains his method for learning foreign languages.*
* *John remembers the time Steve Jobs yelled at him for criticizing the iPhone.*

*Quote* - a direct quote from a show host or guest.

* *Matt "I am convinced Ebay will acquire Square before the end of year."
* *Adam "I think the best health advice I can give a person is to get more sleep."

*Link* - a link is simply a link to and description of whatever is being discussed. Links can be anything but will frequently be to products,  audio or video, wikipedia pages and news items.

* LINK [Aeropress at Amazon](http://www.amazon.com/Aeropress-Coffee-and-Espresso-Maker/dp/B0047BIWSK/ref=sr_1_1?ie=UTF8&qid=1398910952&sr=8-1&keywords=aeropress)
* LINK [Elon Musk's Wikipedia page](http://en.wikipedia.org/wiki/Elon_Musk)

*Sponsor* - a sponsor is when the host acknowledges the episode sponsor, typically via a brief advertisement or discussion about the sponsor.

* SPONSOR [Squarespace](http://squarespace.com)
* SPONSOR [Hover - use COUPONCODE for 10% off](http://hover.com)

##Getting Started

After you've created an account and completed the Editor Agreement, you can get started on a trial timeline. A trial is a practice run designed to help you learn the workflow and get feedback on your highlights. We'll provide instructions on how to get started with your trial, but it should mimic the process described in this document.


**The Queue**

The Queue is a list of unedited episodes waiting to be timelined. Click the [Queue link](http://timelined.com/queue) and you'll see the pending episode list, which will look like this:

![](/images/guidelines/queue.png)

You'll see the Show name and any pending episode titles. Click the Claim Episode button and you'll be the only person who can work on that episode. Click the Unclaim Episode button if you can't work on it anymore. Once you've claimed an episode, click the title to begin editing.

**The Editor**

![](/images/guidelines/editor.png)








 






{{/markdown}}
</template>
