<template name="guidelines">
{{#markdown}}



#Timelined Editor Guidelines

##Introduction

Timelined is an application designed to answer the who, what and when for audio and video. *Who said it? What did they say? When did they say it?* Our editors listen to audio or watch video, then break it down into smaller pieces called *highlights*. A collection of highlights make up the timeline for an episode.

##Your mission

As an editor, you'll create highlights based on the interesting discussions, stories, product recommendations, events, interviews and news you find in an episode. Our users should be able to quickly skim these notes and links to find what interests them. Think of the highlights you write as [Cliffs Notes](http://en.wikipedia.org/wiki/CliffsNotes) for a particular piece of audio or video.

##Terminology

**Shows**

Shows are podcasts and videos. They're published regularly to places like iTunes or Youtube via feeds (a subscription protocol. Our software crawls these feeds looking for new instances of the show. When we find one, we put it into our database and prep it for editors.

Examples:

* [Podcast - The Joe Rogan Experience](http://joerogan.net/podcasts/)
* [Video - Foundation](http://foundation.bz)


**Episodes**

Episodes are instances of a show. As described above, we look for new episodes and get them ready for editors. New episodes make up the *queue*, which is where you'll find things to work on.

Example:

*[Daring Fireball Episode 79](http://www.muleradio.net/thetalkshow/79/)


**Highlights**

Highlights, which you'll be creating, are short summaries answering who, what and when for an episode.

![](/images/guidelines/highlight-example.png)

A highlight can be one of 3 types: person, link or sponsor. All highlights have a timestamp.

*Person* - followed by either a note or a quote.

* *Note* - a summary of what was said and who said it.
    * Tim explains his method for learning foreign languages.
    * John remembers the time Steve Jobs yelled at him for criticizing the iPhone.

* *Quote* - a direct quote from a show host or guest.
    * Matt "I am convinced Ebay will acquire Square before the end of year."
    * Adam "I think the best health advice I can give a person is to get more sleep."

*Link* - a link is simply a link to and description of whatever is being discussed. Links can be anything but will frequently be to products, audio or video, wikipedia pages and news items.

* LINK [Aeropress at Amazon](http://www.amazon.com/Aeropress-Coffee-and-Espresso-Maker/dp/B0047BIWSK/ref=sr_1_1?ie=UTF8&qid=1398910952&sr=8-1&keywords=aeropress)
* LINK [Elon Musk's Wikipedia page](http://en.wikipedia.org/wiki/Elon_Musk)

*Sponsor* - a sponsor is when the host acknowledges the episode sponsor, typically via a brief advertisement or discussion about the sponsor.

* Squarespace sponsored this week's episode.
* Hover is a sponsor this week, use HOVER10 for 10% off every domain purchase.

##Getting Started

After you've created an account and completed the Editor Agreement, you can get started on a trial timeline. A trial is a practice run designed to help you learn the workflow and get feedback on your highlights. We'll provide instructions on how to get started with your trial, but it should mimic the process described in this document.


**The Queue**

The Queue is a list of unedited episodes waiting to be timelined. Click the [Queue link](http://timelined.com/queue) and you'll see the pending episode list, which will look like this:

![](/images/guidelines/queue.png)

You'll see the Show name and any pending episode titles. Click the Claim Episode button and you'll be the only person who can work on that episode. Click the Unclaim Episode button if you can't work on it anymore. Once you've claimed an episode, click the title to begin editing.

**The Editor**

The editor is where you'll be spending most of your time, so we hope you find it easy to work with. When you work with a new episode, you'll see something similar to this:

![](/images/guidelines/editor.png)

A few things to notice:

* The page is split into 2 panes. The darker left pane will always contain the audio or video you're working with. The right pane is where you'll create highlights.
* Notice the Show title (Back to Work) in the top left and just beneath it the original Episode title (Back to Work 001).
* There are 3 buttons for adding a Host, Guest or Sponsor.
* The original show notes are beneath the player. These are notes provided by the content producer and might help you identify key topics, sponsors, hosts or guest. Show notes are not always provided.

*Draft, Review and Publish*

The editor has 3 modes: draft, review and publish.

Draft mode is where you'll spend most of your time. Here you'll create the timestamped highlights that make up a timeline. The goal here is to create concise and informative highlights as quickly as possible.

Review mode is just as it sounds. You'll be finished highlighting and can use this stage to proof your work: correct spelling errors, rephrase highlights, add links and organize chapters (more on this later).

Publish mode is the last step of the process. You submit your work for review.

##Highlights

**Pre-highlighting**

Before you start in Draft mode, it's best to review the show notes if they're available. Show notes can tell you who is on an episode and what it's about - this will save you time. If the show notes aren't available or offer little information, listen to the first minute or two of an episode to get a feel for it.

Initially, you're looking for few key pieces of info - the host(s), guest(s) and a sponsor. Before you can highlight, the People participating in the show must be idenitified. When you determine this information, click the button to add the host or guest.

* A Host is the regular show host. There can be multiple show hosts, but rarely are there more than 2. This information should be easy to figure out from the Show notes, first minute of play or previous episodes.
* A Guest is someone appearing for that particular episode. There can be multiple guests. This can be determined from the show notes, episode title or first minute of play.
* A Sponsor is the company sponsoring the episode, usually referenced by the show host early in the episode.

When you click the button to add a host or guest, start typing their full name. If they're in our database, a type-ahead box will appear and you can select their name. If they're not, enter their first name and last name (pay close attention to spelling) and hit return to add them. The process for adding a company is the same, but a company name can be any number of words.

**Highlighting**

Once you have an idea of hosts and guests, it's time to start highlighting in Draft mode. In the right pane, you'll see an empty highlight field:

![](/guidelines/highlight-empty.png)


To begin a highlight, the first question to answer: is this about a person, a link or a company? Let's take a look at each type and see some example.

*Person highlights*

Most highlights will lead with a person and be a note or quote. To start a highlight about a person, start typing their name. Remember you entered the hosts and guests above, those are the people you can choose from. Once you see their name in the type-ahead box, select it. Next, decide if the highlight is a note or quote. A note is simply a summary of what is being said. A quote is a direct quotation and begins with a quotation mark (").

* Person Note: Dan discusses a Pando Daily interview with Elon Musk where he explains the challenges of running two companies at once.

* Person Note: Matt says he has been eating a lot of Think Thin bars lately. The chunky peanut butter flavor is his favorite.

* Person Note: Adam listened to the Tesla quarterly conference call and relays his impressions of their earnings surprise.

* Person Note: Tim asks Jason Calacnis about his new Angellist syndicate.

* Person Quote: Kevin: "Throwing that racoon down the stairs was the biggest mistake of my life."

* Person Quote:  Cinjon: "I think the startup scene in Berlin rivals that of San Francisco."

![](/guidelines/highlight-note.png)

![](/guidelines/highlight-quote.png)

*Link highlights*

Links are a type of highlight focused on *things* being discussed during an episode. Begin a link by typing the # symbol in the highlight field, then type a short summary of what you want to link to. You'll have the opportunity to find the link URLs in Review mode, so think of the note as a reminder to yourself and move on to the next highlight.

* Example link summaries: "trailer for James Bond 7", "wikipedia Bill Gates", "amazon for kettlebells", "homepage for Panic Software"

Again the link summary in draft mode is a quick note to yourself. In Review mode, you'll populate the link. Here are some example of things you might want to create a link for and what type of link it should be:

* Example: movie trailers, music videos, interviews
    * Link: see if you can find and link to it on Youtube or Vimeo.

* Example: books, vitamins, computer accessories, hiking boots
    * Link: Always try to link to a product on Amazon, if that fails link to it directly

* Example: WhatsApp, NetJets, a new startup or a company providing a product
    * Link: Link to the company's site

* Example: Kevin Rose, Tim Tebow, Dave Chapelle, Genghis Khan
    * Link: Link to their blog, twitter feed, Github account or whatever is their most prominent web presence. For a public or historical figure, try Wikipedia.

* Example: 2014 mid-term elections, Facebook buys WhatsApp, Seattle wins the Superbowl
    * Link: Google the topic and see if you can find a recent article from a reputable source

* Example: Boyle's law, the Cuban missile crisis, the Phoenix Lights
    * Link: Try wikipedia first and any credible background information second

* Example: The BS Report, The Talk Show, Charlie Rose
    * Link: Link to the show on TImelined if possible or directly to the show if not.

![](/guidelines/highlight-link.png)


*Sponsors*

A sponsor is a special highlight designating episode sponsors or ad reads. Rarely will you do more than a few of these per episode and some episodes won't have any sponsors. You begin a sponsor highlight by typing the company name which you hopefully added before the episode started. If you didn't, take a moment and add the sponsor in the left pane by clicking "+ Sponsor" and entering the company name. In the highlight pane, after you've entered the company name, type a short note acknowleding the sponsorship and note any special promo codes or comments about the sponsor.

* Example: Hover sponsored this week's episode. Use promo code HOVER10 for 10% off your next purchase.

* Example: Squarespace sponsored this episode.

* Example: Helpspot sponsored this episode of Back to Work and recently launched a new product called BeSnappy.

![](/guidelines/highlight-sponsor.png)

*Timestamps*

One of the most important parts of each highlight and the Timelined app is the timestamp. Notice the timestamp to the left of each highlight entry. Our software takes a guess at the highlight time by jumping back 5 seconds from when you start typing, but you should keep a mental note of when the best time is for the highlight you are typing. You can edit the timestamp by clicking on it, updating the time and hitting enter. A timestamp should mark the beginning of what you are talking about in the highlight, so someone clicking on it will jump right to that part of the discussion.

*Draft to Review Mode*

When you're done with an episode and your highlights, you should see something similar to this:

![](/guidelines/draft-complete.png)

You've been working in Draft mode, it's time to move on. Click the Review tab to begin proofing your work. Notice the number next to the Review tab? That's how many links you have to populate.

chapters
spelling
links
revising higlights


*Review to Publish Mode*

When you're done adding chapters, completing links, correcting spelling and revising your highlights, it'll look like this:

[INSERT REVIEW IMAGE]


You're almost done, click the Publish tab. There are  3 things left to do.

* Title - you'll notice the show title in quotes. Remove any special characters, only letters, numbers and spaces are allowed.

* Summary -

* Host/Guest Twitter Handles -  





 











{{/markdown}}
</template>
