<template name="editor_mode_publish">
  <div class="editor_mode_publish">
    <div id="editor_stats">
      {{> editor_stats}}
    </div>
    <div class="editor_summary">
      <div id="character_cutoff">
        {{> character_cutoff summary_cutoff}}
      </div>
      <div id="editor_summary_content" contenteditable="true" class="contenteditable {{incomplete_summary}}">
        {{summary}}
      </div>
    </div>
    <div class="episode_people">
      {{#each hosts}}
      {{> editable_profile}}
      {{/each}}
      {{#each guests}}
      {{> editable_profile}}
      {{/each}}
      {{#each sponsors}}
      {{> editable_profile}}
      {{/each}}
    </div>
    <button class="btn btn-block" id="set_postedited_true" {{disabled}}>
      {{title}} is Ready for Prime Time
    </button>
  </div>
</template>

<template name="editable_profile">
  <span class="small_person_display">
    {{#if has_avatar}}
    <img class="picture" src="{{avatar}}">
    {{else}}
    <span class="picture-placeholder"></span>
    {{/if}}
    <div class="details">
      <p class="name editable_profile" contenteditable="true" id="set_name">{{name}}</p>
      <p class="twitter editable_profile twitter-prefix" contenteditable="true" id="set_twitter">{{twitter}}</p>
    </div>
  </span>
</template>

<template name="editor_stats">
  <p><b>&quot;</b>{{title}}<b>&quot;</b></p>
  <p>Is the sponsor count correct: {{num_sponsors}} Sponsors</p>
  <p>Are the host and guest counts correct: {{num_hosts}} Hosts, {{num_guests}} Guests / <span class="{{incomplete_people}}">{{num_people}} People</span></p>
  <p>Are the chapters named and the links linked: Chapters: <span class="{{incomplete_chapters}}">{{num_incomplete_chapters}} / {{num_chapters}}</span>, Links: <span class="{{incomplete_urls}}">{{num_incomplete_urls}} / {{num_urls}}</span></p>
</template>
